*{

    font-family: 'Roboto Condensed', sans-serif;
    color: ;
    text-decoration: none;
    list-style: none;
    border: none;
    outline:none ;
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

 /* p {
     visibility:visible;
     opacity: 0.6;
     display: block;

} */

p {
     background-color: aquamarine;
     width: 200px;
     padding: 40px;

}

h1 {
    font-family: 'Lilita One', cursive;

}

button {
color: black;
}