*{

    font-family: 'Roboto Condensed', sans-serif;

    text-decoration: none;
    list-style: none;
    border: none;
    outline:none ;
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FABDD4;

}

/* este es el navbar */

section.nav {
    background-color: #EE72A1;
    position: sticky;
    display: flex;
    gap: 519px;
    
}

/* boton */

button.boton {

    background-color: #D9D9D9;
    color: #0e0e0e;
    border-radius: 20px;  
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 20px;
    margin-left: 150px;
    font-size: 20px;
    left: 60%;
}

/* texto del nav */




/* titulo y parrafo */

h1.titulo {
    font-family: 'Lilita One', cursive;
    color: #6E1436;
    font-size: 40pt;
    margin-left: 35%;

}
p.parrafo {

     margin-left:37% ;
}

/* imagenes de arriba*/

section.imagenes {

    background-color:#6E1436 ;
    border-radius: 20px; 
    display: flex;

}
div.imagen img {

    gap: 20%;
}
/* subtitulo y parrafo */

h2.subt {

    font-size: 32pt;
    margin-left: 2%;
    padding: 10px;
    
}

p.prfo {

    font-size: 16pt;
    margin-left: 3%;
    padding-right: 700px;
   
}

h2.subt2 {

    font-size: 32pt;
    margin-left: 65%;

}
 p.prfo2 {

    font-size: 16pt;
    margin-left: 65%;

 }

 /* imagenes del centro */

 section.imagenes2 {

    background-color: #6E1436;
    border-radius: 20px;
    display: flex;

 }

 /* footer */

 footer.footer {

    background-color: #6E1436;
    margin-top: 100px;


 }

 div.iconos {

    display: flex;
    margin-left: 80%;
    gap: 20px;
    
 }


